In [1]:
import pandas as pd
import numpy as np

In [8]:
ab = pd.read_csv('Netology_A_B-testing_HW_1.csv',na_values='?')
ab.head

<bound method NDFrame.head of         Unnamed: 0        date  user_id  hour  app_opened  price_seen  \
0                0  2020-05-21   867689    12           1           1
1                1  2020-05-23   752172     5           1           1
2                2  2020-05-20   486559    15           1           1
3                3  2020-05-19   304024     0           1           1
4                4  2020-05-23   139420     0           1           1
...            ...         ...      ...   ...         ...         ...
101495      101495  2020-05-24   288445    16           1           1
101496      101496  2020-05-19   627754     2           1           1
101497      101497  2020-05-23   784442     1           1           1
101498      101498  2020-05-20   232993    13           1           1
101499      101499  2020-05-22   337225    21           1           1

        order_made     surge  ride_completed  user_cancelled  age       os  \
0                1  no surge               1               0   20      iOS
1                1  no surge               1               0   37  Android
2                1  no surge               1               0   47  Android
3                1  no surge               1               0   59  Android
4                1  no surge               1               0   19  Android
...            ...       ...             ...             ...  ...      ...
101495           1  no surge               1               0   29  Android
101496           1     surge               1               0   23      iOS
101497           1  no surge               1               0   40      iOS
101498           1  no surge               1               0   52      iOS
101499           1     surge               1               0   18  Android

        city_center_order order_class   distance     rfm
0                       0    business   7.982135     low
1                       1     economy   2.908468    high
2                       0     comfort   7.224614     low
3                       1     economy   1.874349     low
4                       0    business  10.704778  medium
...                   ...         ...        ...     ...
101495                  0     comfort   1.725907    high
101496                  1     comfort   6.206134  medium
101497                  0     economy   6.624225  medium
101498                  0    business   8.825188     low
101499                  0     economy   0.882172  medium

[101500 rows x 16 columns]>

In [4]:
ab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101500 entries, 0 to 101499
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         101500 non-null  int64
 1   date               101500 non-null  object
 2   user_id            101500 non-null  int64
 3   hour               101500 non-null  int64
 4   app_opened         101500 non-null  int64
 5   price_seen         101500 non-null  int64
 6   order_made         101500 non-null  int64
 7   surge              91431 non-null   object
 8   ride_completed     101500 non-null  int64
 9   user_cancelled     101500 non-null  int64
 10  age                101500 non-null  int64
 11  os                 101500 non-null  object
 12  city_center_order  101500 non-null  int64
 13  order_class        101500 non-null  object
 14  distance           91431 non-null   float64
 15  rfm                101500 non-null  object
dtypes: float64(1), int64(10), object(5)
memory usage: 12.4+ MB

In [5]:
ab.describe()

,Unnamed: 0,user_id,hour,app_opened,price_seen,order_made,ride_completed,user_cancelled,age,city_center_order,distance
count,101500.000000,101500.000000,101500.000000,101500.0,101500.000000,101500.000000,101500.000000,101500.000000,101500.000000,101500.000000,91431.000000
mean,50749.500000,549874.802207,11.481429,1.0,0.900798,0.731389,0.620365,0.111025,40.471764,0.571675,5.371152
std,29300.670499,258600.104176,6.917522,0.0,0.298934,0.443239,0.485299,0.314164,13.536322,0.494838,4.118531
min,0.000000,100093.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,18.000000,0.000000,0.010946
25%,25374.750000,328223.000000,5.000000,1.0,1.000000,0.000000,0.000000,0.000000,29.000000,0.000000,2.438335
50%,50749.500000,548827.000000,11.000000,1.0,1.000000,1.000000,1.000000,0.000000,40.000000,1.000000,4.279565
75%,76124.250000,773051.000000,17.000000,1.0,1.000000,1.000000,1.000000,0.000000,52.000000,1.000000,7.129814
max,101499.000000,999978.000000,23.000000,1.0,1.000000,1.000000,1.000000,1.000000,69.000000,1.000000,40.268966

Поля:
● Date - дата сессии
● User_id - id пользователя
● Hour - час старта сессии
● App_opened - приложение открыто
● Price_seen - пользователь ввел данные маршрута и показана цена
● Order_made - пользователь кликнул по кнопке заказа
● Surge - в этот период был включен surge (надбавка к стоимости поездки в период повышенного спроса)
● Ride_completed - поездка успешно завершена
● User_cancelled - пользователь отменил поездку
● Age - возраст пользователя
● Os - операционная система на телефоне
● City_center_order - заказ был сделан из центра города
● Order_class - класс поездки
● Distance - дистанция в км
● Rfm - rfm-сегмент пользователя

In [6]:
ab.head()

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium

In [9]:
#возраст
print(ab.age.mean())
print(ab.age.median())
print(ab.age.mode()[0])
print(ab.age.var())

40.47176354679803
40.0
44
13.536321984584278
183.23201287033964

In [11]:
#время заказа
print(ab.hour.mean())
print(ab.hour.median())
print(ab.hour.mode()[0])
print(ab.hour.var())

11.481428571428571
11.0
5
47.852116699247084

In [12]:
#дистанция
print(ab.distance.mean())
print(ab.distance.median())
print(ab.distance.mode()[0])
print(ab.distance.var())

5.371151996435672
4.279564564612159
0.0109464561302152
16.962294188897385

In [13]:
cr_price_seen = ab.price_seen.sum()*100/ab.app_opened.sum()
cr_price_seen

90.07980295566503

In [14]:
cr_order_made = ab.order_made.sum()*100/ab.app_opened.sum()
cr_order_made

73.13891625615763

In [15]:
cr_ride_completed = ab.ride_completed.sum()*100/ab.app_opened.sum()
cr_ride_completed

62.036453201970446

In [16]:
cr_user_cancelled = ab.user_cancelled.sum()*100/ab.app_opened.sum()
cr_user_cancelled

11.102463054187192

In [25]:
#потери на шагах воронки
print(100-cr_price_seen)
print(cr_price_seen-cr_order_made)
print(cr_order_made-cr_ride_completed)

9.92019704433497
16.940886699507402
11.102463054187183

In [19]:
no_city_center = ab.loc[(ab['city_center_order'] == 0)]
no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
8,8,2020-05-23,931492,20,1,0,0,NaN,0,0,25,iOS,0,economy,NaN,medium
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101492,101492,2020-05-21,213028,13,1,1,1,no surge,1,0,18,iOS,0,business,7.993689,low
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [23]:
cr_no_city_center = no_city_center.price_seen.sum()*100/no_city_center.app_opened.sum()
cr_no_city_center

88.18861414606096

In [56]:
#шаги воронки тех, кто не из центра
print(100-88)
print(88-68)
print(68-55)
print(68-12)

12
20
13
56

In [27]:
city_center = ab.loc[(ab['city_center_order'] == 1)]
city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium

In [32]:
cr_city_center = city_center.user_cancelled.sum()*100/city_center.app_opened.sum()
cr_city_center

9.714778112882378

In [57]:
#шаги воронки тех, кто из центра
print(100-91)
print(91-76)
print(76-66)
print(76-9)

9
15
10
67

In [38]:
surge_no_city_center = no_city_center.loc[(no_city_center['surge'] == 'surge')]
surge_no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
37,37,2020-05-19,109198,7,1,1,1,surge,1,0,22,iOS,0,comfort,8.792506,low
42,42,2020-05-21,978864,14,1,1,1,surge,1,0,45,iOS,0,comfort,2.144843,low
47,47,2020-05-21,308672,22,1,1,0,surge,0,0,40,iOS,0,economy,4.749440,medium
49,49,2020-05-20,746311,20,1,1,1,surge,1,0,29,iOS,0,comfort,4.426601,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101459,101459,2020-05-22,297328,8,1,1,0,surge,0,0,56,iOS,0,economy,1.793951,medium
101468,101468,2020-05-24,486677,11,1,1,1,surge,1,0,56,Android,0,comfort,3.940316,medium
101470,101470,2020-05-19,449141,7,1,1,1,surge,1,0,21,Android,0,economy,4.223737,low
101488,101488,2020-05-21,811817,7,1,1,0,surge,0,0,38,Android,0,comfort,4.515511,high
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [40]:
cr_surge_no_city_center = surge_no_city_center.order_made.sum()*100/surge_no_city_center.app_opened.sum()
cr_surge_no_city_center

68.07546066101199

In [41]:
nosurge_no_city_center = no_city_center.loc[(no_city_center['surge'] == 'no surge')]
nosurge_no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
11,11,2020-05-24,370093,12,1,1,1,no surge,1,0,27,Android,0,economy,4.273224,medium
14,14,2020-05-21,382672,2,1,1,1,no surge,1,0,37,iOS,0,comfort,8.669202,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101487,101487,2020-05-24,550292,13,1,1,1,no surge,0,1,40,Android,0,economy,6.475528,medium
101492,101492,2020-05-21,213028,13,1,1,1,no surge,1,0,18,iOS,0,business,7.993689,low
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low

In [42]:
cr_nosurge_no_city_center = nosurge_no_city_center.order_made.sum()*100/nosurge_no_city_center.app_opened.sum()
cr_nosurge_no_city_center

82.85355173532274

In [43]:
#дистанция тех, кто не из центра
print(no_city_center.distance.mean())
print(no_city_center.distance.median())

5.364152416080595
4.241835552255184

In [48]:
ec_no_city_center = no_city_center.loc[(no_city_center['order_class'] == 'economy')]
ec_no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
8,8,2020-05-23,931492,20,1,0,0,NaN,0,0,25,iOS,0,economy,NaN,medium
11,11,2020-05-24,370093,12,1,1,1,no surge,1,0,27,Android,0,economy,4.273224,medium
12,12,2020-05-21,811050,4,1,0,0,NaN,0,0,51,Android,0,economy,NaN,medium
15,15,2020-05-19,893154,6,1,1,1,no surge,1,0,56,iOS,0,economy,3.563128,low
26,26,2020-05-24,824898,11,1,1,1,no surge,1,0,58,Android,0,economy,2.544092,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101476,101476,2020-05-19,887146,4,1,1,1,no surge,0,1,34,Android,0,economy,7.010217,low
101483,101483,2020-05-19,740067,21,1,1,1,no surge,1,0,28,iOS,0,economy,8.076814,medium
101487,101487,2020-05-24,550292,13,1,1,1,no surge,0,1,40,Android,0,economy,6.475528,medium
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [53]:
cr_ec_no_city_center = ec_no_city_center.order_made.sum()*100/ec_no_city_center.app_opened.sum()
cr_ec_no_city_center

69.4351505609132

In [49]:
b_no_city_center = no_city_center.loc[(no_city_center['order_class'] == 'business')]
b_no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
69,69,2020-05-22,409627,23,1,1,1,no surge,1,0,31,iOS,0,business,11.955305,low
73,73,2020-05-19,144223,7,1,0,0,NaN,0,0,65,iOS,0,business,NaN,low
85,85,2020-05-23,884684,16,1,1,1,no surge,1,0,52,iOS,0,business,4.228847,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101446,101446,2020-05-24,443439,21,1,1,1,surge,1,0,19,Android,0,business,10.873083,low
101448,101448,2020-05-19,345862,19,1,1,1,surge,1,0,50,Android,0,business,17.377108,medium
101456,101456,2020-05-24,485267,19,1,1,0,surge,0,0,40,Android,0,business,11.173119,high
101492,101492,2020-05-21,213028,13,1,1,1,no surge,1,0,18,iOS,0,business,7.993689,low
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low

In [54]:
cr_b_no_city_center = b_no_city_center.order_made.sum()*100/b_no_city_center.app_opened.sum()
cr_b_no_city_center

66.66666666666667

In [50]:
c_no_city_center = no_city_center.loc[(no_city_center['order_class'] == 'comfort')]
c_no_city_center

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
14,14,2020-05-21,382672,2,1,1,1,no surge,1,0,37,iOS,0,comfort,8.669202,high
36,36,2020-05-22,580861,23,1,1,1,no surge,1,0,19,Android,0,comfort,2.026410,low
37,37,2020-05-19,109198,7,1,1,1,surge,1,0,22,iOS,0,comfort,8.792506,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101479,101479,2020-05-21,112013,14,1,1,1,no surge,1,0,22,Android,0,comfort,6.090853,low
101482,101482,2020-05-18,945967,2,1,1,1,no surge,0,1,34,iOS,0,comfort,3.571876,low
101488,101488,2020-05-21,811817,7,1,1,0,surge,0,0,38,Android,0,comfort,4.515511,high
101489,101489,2020-05-20,969159,22,1,0,0,NaN,0,0,67,Android,0,comfort,NaN,medium
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high

In [55]:
cr_c_no_city_center = c_no_city_center.order_made.sum()*100/c_no_city_center.app_opened.sum()
cr_c_no_city_center

67.77499303815094

In [58]:
ld = ab.loc[(ab['distance'] > 5)]
ld

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low

In [62]:
cr_ld = ld.user_cancelled.sum()*100/ld.app_opened.sum()
cr_ld

11.642942802023047

In [63]:
#шаги воронки ld
print(100-100)
print(100-81)
print(81-69)
print(81-11)

0
19
12
70

In [64]:
shd = ab.loc[(ab['distance'] < 5)]
shd

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
9,9,2020-05-23,662775,17,1,1,1,surge,1,0,48,Android,1,comfort,4.828326,medium
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
11,11,2020-05-24,370093,12,1,1,1,no surge,1,0,27,Android,0,economy,4.273224,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101484,101484,2020-05-18,511791,11,1,1,0,no surge,0,0,60,iOS,1,economy,4.653437,medium
101486,101486,2020-05-20,827037,8,1,1,1,surge,0,1,28,iOS,1,business,4.368162,low
101488,101488,2020-05-21,811817,7,1,1,0,surge,0,0,38,Android,0,comfort,4.515511,high
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [69]:
cr_shd = shd.price_seen.sum()*100/shd.app_opened.sum()
cr_shd

100.0

In [70]:
b_ld = ld.loc[(ld['order_class'] == 'business')]
b_ld

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
22,22,2020-05-21,667749,5,1,1,1,no surge,0,1,53,Android,1,business,5.612632,medium
40,40,2020-05-22,449906,9,1,1,1,no surge,1,0,22,iOS,1,business,12.089362,low
45,45,2020-05-19,683124,11,1,1,1,surge,1,0,42,iOS,1,business,15.155294,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101485,101485,2020-05-19,427672,16,1,1,1,no surge,1,0,21,Android,1,business,19.971031,low
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101492,101492,2020-05-21,213028,13,1,1,1,no surge,1,0,18,iOS,0,business,7.993689,low
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low

In [76]:
cr_b_ld = b_ld.user_cancelled.sum()*100/b_ld.app_opened.sum()
cr_b_ld

9.247937894226103

In [71]:
c_ld = ld.loc[(ld['order_class'] == 'comfort')]
c_ld

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
14,14,2020-05-21,382672,2,1,1,1,no surge,1,0,37,iOS,0,comfort,8.669202,high
19,19,2020-05-20,320419,3,1,1,1,no surge,1,0,22,Android,1,comfort,5.545119,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101447,101447,2020-05-18,651856,14,1,1,1,no surge,1,0,31,Android,1,comfort,9.508651,low
101471,101471,2020-05-24,837900,12,1,1,0,no surge,0,0,21,iOS,1,comfort,6.072621,medium
101479,101479,2020-05-21,112013,14,1,1,1,no surge,1,0,22,Android,0,comfort,6.090853,low
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium

In [85]:
cr_c_ld = c_ld.user_cancelled.sum()*100/c_ld.app_opened.sum()
cr_c_ld

10.739235361361615

In [72]:
ec_ld = ld.loc[(ld['order_class'] == 'economy')]
ec_ld

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
16,16,2020-05-23,990097,2,1,1,1,no surge,1,0,45,Android,1,economy,5.766970,low
21,21,2020-05-18,103860,13,1,1,1,surge,1,0,49,iOS,1,economy,7.934002,low
27,27,2020-05-21,654038,18,1,1,1,no surge,0,1,48,Android,0,economy,7.470499,low
38,38,2020-05-20,813130,19,1,1,1,surge,1,0,40,iOS,1,economy,6.657344,medium
48,48,2020-05-23,732720,14,1,1,1,no surge,0,1,46,Android,0,economy,6.110571,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101476,101476,2020-05-19,887146,4,1,1,1,no surge,0,1,34,Android,0,economy,7.010217,low
101483,101483,2020-05-19,740067,21,1,1,1,no surge,1,0,28,iOS,0,economy,8.076814,medium
101487,101487,2020-05-24,550292,13,1,1,1,no surge,0,1,40,Android,0,economy,6.475528,medium
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium

In [84]:
cr_ec_ld = ec_ld.user_cancelled.sum()*100/ec_ld.app_opened.sum()
cr_ec_ld

14.804582757780125

In [86]:
ios = ab.loc[(ab['os'] == 'iOS')]
ios

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
8,8,2020-05-23,931492,20,1,0,0,NaN,0,0,25,iOS,0,economy,NaN,medium
10,10,2020-05-23,464055,20,1,1,1,surge,1,0,59,iOS,0,comfort,3.647097,high
14,14,2020-05-21,382672,2,1,1,1,no surge,1,0,37,iOS,0,comfort,8.669202,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low

In [91]:
cr_ios = ios.price_seen.sum()*100/ios.app_opened.sum()
cr_ios

92.36228908133202

In [87]:
Android = ab.loc[(ab['os'] == 'Android')]
Android

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101489,101489,2020-05-20,969159,22,1,0,0,NaN,0,0,67,Android,0,comfort,NaN,medium
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [96]:
cr_Android = Android.price_seen.sum()*100/Android.app_opened.sum()
cr_Android

88.27606885847327